body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

a{
    text-decoration: none;
    color:white;
}

header{
    display: flex; /*Organiza los elementos de izquierda a derecha*/
    background-color: black;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    align-items: center;
    display: flex;

}

.logo img{
    height: 50px;
    margin-right: 12px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: green;
}

@media (max-width: 680px){
    header{
    flex-direction: column;
    }
    nav{
    padding: 10px 0px;
    }
}